body {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
}
main {
    display: block;
    text-align: -webkit-center;
}
table {
    width: 90%;
    border: 0;
}
.center {
    text-align:center;
    background-color: #EEEEEE;
}
#more {
    max-height: 76px;
    margin: 0;
    padding: 0;
}
.left {
    width:37%;
    background-color: #7EE5DA;
    text-align: center;
}
.morelink {
    background-color: #70CCC2;
    font-size: small;
    text-align: center ;
}
.subscribe {
        background-color: #62B3AA;
        font-size: small;
        text-align: center;
}
td a {
    margin-left: 5px;
}
footer {
    text-align: center;
    font-size: small;
}